<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>demo 首页</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<script src="js/jquery-1.12.0.js"></script>
<script src="js/vue.js"></script>
<script src="js/scrat.js"></script>
<script>
    require.config(__FRAMEWORK_CONFIG__);
    require.async('boot', function (boot) {
        boot.init();
    });
</script>
<div id="page-main"></div>
</body>
</html>
